@import "reset"
@import "bits"


html
  font-size: 62.5%

body
  // background: red
  font-size: 1.4rem
  
aside
  float: left
  width: 35%
  height: 100%
  background: $c-main
  .content
    float: right
    width: 55%
    padding: 5%  10% 0 0
    h4
      margin: 0 0 1rem 0
      font-size: 2rem
      color: $c-secondary
    h6
      margin: 2rem 0 0.5rem 0
      font-size: 1.5rem
      color: $c-secondary
    p
      font-size: 1.3rem
      line-height: 1.6rem
      color: #FEFEFE
      a
        color: #FEFEFE
        text-decoration: none
        +transition
        &:hover
          color: #FEFEFE
    ol 
      li
        margin: 0.8rem 0
        a
          text-decoration: none
          color: #FEFEFE
          font-size: 1.2rem
          +transition
          &:hover
            color: #FEFEFE
      span
        font-size: 1.2rem
        line-height: 1.3rem
        color: $c-secondary
        opacity: 0.7

section
  width: 44%
  padding: 10% 0 0 40%
  h2
    font-size: 5.4rem
    line-height: 5.6rem
    letter-spacing: -0.19rem
    a
      color: $c-main
      text-decoration: none
      +transition
      &:hover
        color: white
        background: $c-main
        
  article
    .date
      margin: 1rem 0 1.5rem 0
      font-size: 1.3rem
      line-height: 1.2rem
      color: $c-text
  
hr
  border: 1px dashed $c-main
  margin: 2rem 0


      
#disqus_thread
  padding: 1.5rem 0 0 0
  a
    color: $c-main
  .post-message 
    p
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif

::selection
  background: $c-main
  color: white
